@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#473A0B,#8D825B,#C7B881);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #D0A300;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2{
    color:#C7B881 ;
}
p {
    text-align: justify;
}
