@charset "UTF-8";
/*
em HTML é id= em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode varios elementos)
*/
body{
    background-color: rgb(193, 235, 152);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(6, 185, 3);
}
h1#principal{
    text-align: center;
    color: black;
    background-color: aliceblue;
}
h2 {
    color: rgba(16, 97, 5, 0.773);
}
.segundo{
    color: black;
    text-align: center;


}
.terceiro{
    color: brown;
    text-align: center;

}
.destaque{
    background-color: yellow;
}